*{
  text-align: center;
}

ul{
  list-style: none;
}

#Homepage{
  background-image: url('https://cdn.trendhunterstatic.com/thumbs/380/cool-backgrounds.jpeg?auto=webp');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}